# ------------------------
# Python virtual environments
# ------------------------
.venv/
venv/
env/

# ------------------------
# Python cache and compiled files
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------
# dbt artifacts
# ------------------------
target/
dbt_modules/

# ------------------------
# dbt logs
# ------------------------
logs/
*.log

# ------------------------
# macOS system files
# ------------------------
.DS_Store
.AppleDouble
.LSOverride

# ------------------------
# VS Code settings
# ------------------------
.vscode/

# ------------------------
# Temporary files
# -


dbt_internal_packages/
*.p8
*.pub
*.log
*.logs
dbt_packages/
snowflake_preset_URL.py